<nav class="m-1 p-1 navbar">
  <ul class="nav nav-pills">
    <li *ngFor="let action of actions">
      <button
        (click)="currentAction=action.route"
        routerLink="/{{action.route}}"
        [ngClass]="(action.route.toLowerCase()===currentAction.toLowerCase())?
        'btn btn btn-success ms-1'
        :'btn btn btn-outline-success ms-1'">
        {{action.title}}
        <i class="bi bi-{{action.icon}}"></i>
      </button>
    </li>
    <li *ngIf="loading|async">
      <div class="spinner-border text-info m-1" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </li>
    <li *ngIf="appState.productsState.status=='ERROR'">
      <div class="bg-danger bg-opacity-50 p-2 ms-1 border border-success">{{appState.productsState.errorMessage}}</div>
    </li>
  </ul>
  <ul class="nav nav-pills">
    <li *ngIf="appState.authState.isAuthenticated">
      <span class="p-1 m-1" >{{appState.authState.username}}</span>
      <button (click)="handleLogout()" class="btn  btn-outline-success">
        <i class="bi bi-door-closed-fill"></i>
      </button>
    </li>
    <li *ngIf="!appState.authState.isAuthenticated">
      <button (click)="handleLogin()" class="btn  btn-outline-success">
        <i class="bi bi-door-open-fill"></i>
      </button>
    </li>
  </ul>
  <app-dash-board *ngIf="appState.authState.isAuthenticated"></app-dash-board>
</nav>
